<div class="d-flex page-bg" id="main-layout">
  <!-- Sidebar -->
  <div class="sidebar bg-light">
    <div class="logo-container">
      <img class="logo" src="../assets/images/fetility_care.png" alt="logo">
    </div>
    <ul class="list-group sidebar-menu-list">
      <li class="list-group-item sider-menu" [ngClass]="cache?.activeSidebarMenu === item?.id? 'sidebar-active-menu' : ''" sidebar-active-menu *ngFor="let item of constant?.sidebarMenu">{{ item.name }}</li>
    </ul>
  </div>

  <!-- Right Section -->
  <div class="main-content flex-grow-1 d-flex flex-column px-3 py-2">
    <!-- Title Bar -->
    <div class="title-bar p-2">
      <div class="row">
        <div class="col mt-auto"><h5>Admin</h5></div>
        <div class="col"></div>
        <div class="col">
          <div class="row profile-row">
            <div class="col profile-img-col"><img class="profile-img" src="../assets/images/profile.png" alt="profile"></div>
            <div class="col">
              <div class="row user-name">Kate Russel</div>
              <div class="row user-role">Receptionist</div>
            </div>
            <div class="col width-fit">
              <i class="fa-solid fa-chevron-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content Area -->
    <div class="content-area bg-white flex-grow-1 p-3">
      <p>This is the content area.</p>
    </div>
  </div>
</div>